// 防止课表太长换行


function trim(class_name) {
  
  var m ='一[5-7节]'
  if (class_name.length<=17) {

    return class_name+' '
  } else {
    var ret = class_name.slice(0, 16)+'...'

    return ret
  }

  // #var res = class_neame.slice(0, 13);

}
function jc_trim(jx_name) {


  if (jx_name.length <= 8) {

    return jx_name + ' '
  } else {
    var ret = jx_name.slice(0,7) + '...'
    // console.log(ret.length)
    return ret
  }
}
function essay_trim(jx_name) {

  if (jx_name.length <=20) {

    return jx_name
  } else {
    var ret = jx_name.substring(0,20) + '...'
    // console.log(ret.length)
    return ret
  }
}
module.exports = {
  jc_trim: jc_trim,
  trim: trim,
  essay_trim:essay_trim,
};
